<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Sogn</title>
</head>
<body>

<form action="/createSogn" method="POST">
  <h3>Opret Sogn</h3>

  <br>
  <p><input type="text" name="name" placeholder="Navn" required>
  <p>
  <p><input type="text" name="smitteniveau" placeholder="Smitteniveau" required>
  <p><input type="date" name="nedlukningStart" placeholder="Nedlukning" required>

  <div class="button">
    <input type="Submit" class="submit-button" value="  Create!  ">
  </div>
  <p>
</form>

</body>
</html>